<!DOCTYPE html>
<html>
<head>
    <title>PKM Editor</title>
    <link rel="stylesheet" href="/static/gui.css">
</head>
<body>

<h1>PKM-Sim Editor</h1>

<div class="tabs">
    <button onclick="loadTab('pokemon')">Pokemon</button>
    <button onclick="loadTab('move')">Moves</button>
    <button onclick="loadTab('item')">Items</button>
    <button onclick="loadTab('ability')">Abilities</button>
</div>

<hr>

<div id="editor-content">
    <!-- conteúdo dinâmico aparece aqui -->
</div>

<script src="/static/gui.js"></script>

</body>
</html>
